{% extends "base.html" %}
{% set active_page = "index" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  <!-- Include Flowbite Style-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
   


{% block contents %}
<div id="messages-div"></div>
{% if show_messages %}
<script src="{{ reverse_url('messages.js') }}" async></script>
{% endif %}
{% if multiuser %}
<h1>{% trans user_login=user.login %}Welcome {{ user_login }}{% endtrans %}</h1>
{% else %}
<h1>{% trans %}Welcome User!{% endtrans %}</h1>
<span class="bg-gray-100 text-gray-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">Dark</span>

{% endif %}
<p>{% trans %}Here are your projects:{% endtrans %}</p>
<ul class="list-group">
{% for project in projects %}
  <li class="list-group-item"><a href="{{ reverse_url('project', project.id) }}">{{ project.name }}</a></li>
{% else %}
  <li class="list-group-item disabled" style="font-style: oblique;">{% trans %}You have no projects yet.{% endtrans %}</li>
{% endfor %}
  <li class="list-group-item list-group-item-primary" style="font-weight: bold;"><a href="{{ reverse_url('new_project') }}">{% trans "button in project list" %}Create a new project{% endtrans %}</a></li>
  {% if can_import_project -%}
  <li class="list-group-item list-group-item-primary" style="font-weight: bold;"><a href="{{ reverse_url('import_project') }}">{% trans "button in project list" %}Import a project file{% endtrans %}</a></li>
  {%- endif %}
</ul>
{% endblock %}
