{% extends "base.html" %}
{% set active_page = "index" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  <!-- Include Flowbite Style-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
   


{% block contents %}
<div id="messages-div"></div>
{% if show_messages %}
<script src="{{ reverse_url('messages.js') }}" async></script>
{% endif %}
{% if multiuser %}
<h1>{% trans user_login=user.login %}Welcome {{ user_login }}{% endtrans %}</h1>
{% else %}
<h1>{% trans %}Welcome User!{% endtrans %}</h1>
<span class="bg-gray-100 text-gray-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">Dark</span>

{% endif %}

<p class="mb-3 text-gray-500 dark:text-gray-400">{% trans %}  Here are your projects list:{% endtrans %}</p>
<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-1 py-1">
                Project 
              </th>
              <th scope="col" class="px-6 py-3">
                Description
              </th>
              <th scope="col" class="px-6 py-3">
                Link
             </th>
          </tr>
      </thead>
      {% for project in projects %}
      
      <tbody>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            
            <th scope="row" class="px-6 py-4 font-bold text-gray-900 whitespace-nowrap dark:text-white">
                <a href="{{ reverse_url('project', project.id) }}">{{ project.name }}</a>
              </th>
              <td class="px-6 py-4">
                {{ project.description }}
              </td>

              <td class="px-6 py-4">
                <a href="{{ reverse_url('project', project.id) }}">
                  <button type="button" class="px-3 py-2 text-xs font-bold  text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                      Link
                  </button>
              </a>  
             </td>
          </tr>
      </tbody>
      {% else %}
      {% trans %}You have no projects yet.{% endtrans %}
      {% endfor %}
  </table>
</div>



<ul class="list-group">

  <li class="list-group-item"></li>

  <li class="list-group-item list-group-item-primary" style="font-weight: bold;"><a href="{{ reverse_url('new_project') }}">{% trans "button in project list" %}Create a new project{% endtrans %}</a></li>
  {% if can_import_project -%}
  <li class="list-group-item list-group-item-primary" style="font-weight: bold;"><a href="{{ reverse_url('import_project') }}">{% trans "button in project list" %}Import a project file{% endtrans %}</a></li>
  {%- endif %}
</ul>
{% endblock %}


