{% extends "base.html" %}
{% set active_page = "index" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  <!-- Include Flowbite Style-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
   

{% block contents %}
<div id="messages-div"></div>
{% if show_messages %}
<script src="{{ reverse_url('messages.js') }}" async></script>
{% endif %}
{% if multiuser %}
<h1>{% trans user_login=user.login %}Welcome {{ user_login }}{% endtrans %}</h1>
{% else %}
<!--main GUI-->

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 grid lg:grid-cols-2 gap-8 lg:gap-16">
      <div class="flex flex-col justify-center">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Introducing Our New Software for Qualitative Tagging</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Experience efficient and accurate tagging with our cutting-edge software, designed to enhance your qualitative data analysis process.</p>
         <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
              <a href="{{ reverse_url('new_project') }}" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                  {% trans "button in project list" %}Create project{% endtrans %}
                  <!--home svg-->
                  <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                  </svg>
                   <div class="flex items-center flex-shrink-0">
          
                  </div>
              </a>
              <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                  Learn more
              </a>  
          </div>
      </div>
      <section class="bg-white dark:bg-gray-900">
   
        <p class="mb-8 text-xs font-normal text-gray-500 lg:text-xl dark:text-gray-400"> Exploring your 
          <mark class="px-2 text-white bg-blue-600 rounded dark:bg-blue-900">Qualitative</mark> Projects
          <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                    <th scope="col" class="px-6 py-3">Project 
                    </th>
                      <th scope="col" class="px-6 py-3">Description
                      </th>
                      <th scope="col" class="px-6 py-3">Link
                     </th>
                  </tr>
              </thead>
              {% for project in projects %}
              
              <tbody>
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                   <th scope="row" class="px-6 py-4 font-bold text-gray-900 whitespace-nowrap dark:text-white">
                      <a href="{{ reverse_url('project', project.id) }}">{{ project.name }}</a>
                      </th>
                      <td class="px-6 py-4">{{ project.description }}
                      </td>
        
                      <td class="px-6 py-4">
                        <a href="{{ reverse_url('project', project.id) }}">
                          <button type="button" class="px-3 py-2 text-xs font-bold  text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                              Link
                          </button>
                      </a>  
                     </td>
                  </tr>
              </tbody>
              {% else %}
              {% trans %}You have no projects yet.{% endtrans %}
              {% endfor %}
          </table>
        </div>
        </section>
        
     
  </div>
</section>


{% endif %}


<ul class="list-group">

  <li class="list-group-item"></li>

  <li class="list-group-item list-group-item-primary" style="font-weight: bold;"><a href="{{ reverse_url('new_project') }}">{% trans "button in project list" %}Create a new project{% endtrans %}</a></li>
  {% if can_import_project -%}
  <li class="list-group-item list-group-item-primary" style="font-weight: bold;"><a href="{{ reverse_url('import_project') }}">{% trans "button in project list" %}Import a project file{% endtrans %}</a></li>
  {%- endif %}
</ul>
{% endblock %}


