{% extends "base.html" %}

{% block title %}{% trans "page title" %}New project{% endtrans %} | Taguette{% endblock %}


{% block contents %}

{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}
<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">{% trans "title" %}New {% endtrans %}<span class="text-blue-600 dark:text-blue-500">Qualitative</span> Project.</h1>
<p class="text-xl text-gray-900 dark:text-white">
  Qualitative project tagging involves systematically assigning descriptive labels to different parts of qualitative data, enabling organized analysis.</p>

  <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
<!--form -->
<p class="text-xl text-gray-900 dark:text-white"></p>
<form action="{{ reverse_url('new_project') }}" method="post">
  {{ xsrf_form_html() }}
 <div class="flex">
  <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
    <svg class="w-4 h-4 mr-2 text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
      <path d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z"/>
  </svg>{% trans "form label for new project name" %}Name{% endtrans %}
  </span>  
  <input type="text" id="project-name" name="name"  class="rounded-none rounded-r-lg bg-white border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write a name for the project here...">
</div>
 
  <div class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
      <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
          <label for="projecy-description" class="sr-only">{% trans "form label for new project description" %}Description{% endtrans %}</label>
          <textarea name="description" id="project-description"  name="name" value="{{ name }}rows="4" class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="Write a description here..." required></textarea>
      </div>
      <div class="flex items-center justify-between px-3 py-2 border-t dark:border-gray-600">
          <button type="submit" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
            {% trans "form submit button" %}Create {% endtrans %}
          </button>
          <div class="flex pl-0 space-x-1 sm:pl-2">
              <button type="button" class="inline-flex justify-center items-center p-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                  <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 20">
                       <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M1 6v8a5 5 0 1 0 10 0V4.5a3.5 3.5 0 1 0-7 0V13a2 2 0 0 0 4 0V6"/>
                   </svg>
                  <span class="sr-only">Upload existing project</span>
              </button>
          </div>
      </div>
  </div>
</form>
<p class="ml-auto text-xs text-gray-500 dark:text-gray-400">Remember, contributions to this topic should follow our <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline">Community Guidelines</a>.</p>


<form action="{{ reverse_url('new_project') }}" method="post">
  {{ xsrf_form_html() }}
  <div class="form-group row">
    <label for="project-name" class="col-sm-2 col-form-label">{% trans "form label for new project name" %}Name{% endtrans %}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="project-name" name="name" value="{{ name }}" required />
    </div>
  </div>
  <div class="form-group row">
    <label for="project-description" class="col-sm-2 col-form-label">{% trans "form label for new project description" %}Description{% endtrans %}</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="project-description" name="description">{{ description }}</textarea>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10 offset-sm-2">
      <button type="submit" class="btn btn-primary">{% trans "form submit button" %}Create{% endtrans %}</button>
    </div>
  </div>
</form>
{% endblock %}
